<div class="col-md-8">
						<ul>
							<li><a href="index.php">Home</a></li>
							<li><a href="products.php" class="product">Products</a>
								<div class="dropdown">
									<ul>
										<li><a href="?product=Laptop"><i class="fa fa-angle-right"></i> Laptop</a></li>
										<li><a href="?product=Mobile"><i class="fa fa-angle-right"></i> Mobile</a></li>
										<li><a href="?product=Tablet"><i class="fa fa-angle-right"></i> Tablet</a></li>
										
										<li><a href="?product=Accessories"><i class="fa fa-angle-right"></i>  Accessories</a></li>
									</ul>
								</div>
							</li>							
							<li><a href="contact.php">Contact Us</a></li>
						</ul>
					</div>
					
					
					
					
					
			<div class="col-md-8">
				 <div class="dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
			<span class="caret"></span></button>
				<ul class="dropdown-menu">
				  <li><a href="#">HTML</a></li>
				  <li><a href="#">CSS</a></li>
				  <li><a href="#">JavaScript</a></li>
				</ul>
			</div>