/*
Template name:  online shop (Gadget House)
Author Name: Afsana Akther Chowdhury
Matric Id: C151226

*/
.sm30 {
    margin-top: 30px;
}
.sm200 {
    margin-top: 200px;
}
.sm400 {
    margin-top: 400px;
}
.options{
	margin-left:-15px;
}
.options ul li{
	list-style:none;
	float:left;
}
.options ul li a{
	display:block;
	text-decoration:none;
	padding:3px 10px;
	color:#A2A2A2;
}


.options ul li a:hover{
	color:#000;
}
.options ul li a i{
	color:#FAB005;
}
.social ul li{
	list-style:none;
	float:left;
}
.social ul li a{
	display:block;
	text-decoration:none;
	color:#000;
	padding:20px 15px;
}
.social ul li a.fb
{
	color:#3B5998;
}
.social ul li a.tweet
{
	color:#4099FF;
}

.social ul li a.pinterest
{
	color:#DF757A;
}
.social ul li a.google-plus
{
	color:#E04D84;
}
.menu ul{
	list-style:none;
}
.menu ul li{
	float:left;
	
}
.menu ul li a{
	display:block;
	text-decoration:none;
	padding:10px 14px;
	color:#34495E;
	text-align:center;
	margin-right:5px;
}
.menu ul li a:hover{
	background-color:#FAB005;
	color:#fff;
	transition:0.5s all;
}

.menu ul li.dropdown-menu{
	display:none;
	position:absolute;
	width:200px;
	height:auto;


	background-color:#E7E7E7;
	z-index:1000;
	margin-top:-7px;
	
	}
.menu ul li:hover > ul 
{
	display:block;
}


.cart{
	text-align:right;
}
.cart a{
	color:#039445;
	text-decoration:none;
}
.special-offer h2{
	text-align:center;
	margin-bottom:80px;
}
.offer-content{
	border:1px solid #000;
	text-align:center;
	margin-right:-38px;
	padding:15px 0;
	margin-bottom:100px;
}
.offer-content h6{
	margin-bottom:13px;
}
.offer-content label{
	margin-top:-4px;
}
.offer-content .add-to-cart{
	background-color:#fff;
	border:2px solid #039445;
	padding:8px 10px;
	border-radius:25px;
	transition:0.5s all;
	color:#029241;
	font-size:12px;
	text-align:center;

	
}

.add-to-cart:hover{
	color:#fff;
	background-color:#039445;
}
.summary{
	background-color:#353535;
	color:#ABABAB;
}
.summary h3{
	color:#fff;
	padding-top:50px;
	padding-bottom:20px;
	text-align:left;
}
.menu-last ul li,.service ul li,.my-account ul li{
	list-style:none;
	
	
}
.menu-last,.service,.my-account{
margin-left:50px;}
.menu-last ul li a{
	text-decoration:none;
	text-align:left;
	display:block;
	padding:3px 0;
	color:#ABABAB;
	margin-left:-40px;
}
.menu-last ul li a:hover{
	color:#FF803A;
}
.service ul li a{
	text-decoration:none;
	text-align:left;
	display:block;
	padding:3px 0;
	color:#ABABAB;
	margin-left:-40px;
	
}
.service ul li a:hover{
	color:#FF803A;
}
.service h3{
	font-size:20px;
	padding-bottom:3px;
}
.my-account ul li a{
	text-decoration:none;
	text-align:left;
	display:block;
	padding:3px 0;
	color:#ABABAB;
	margin-left:-40px;
	
}
.my-account ul li a:hover{
	color:#FF803A;
}

.top-footer{
	background-color:#353535;
	color:#F4F4F4;
}
.top-footer p{
	text-align:center;
	margin-left:50px;
	padding-top:30px;
}
.top-footer img{
	text-align:center;
	width:200px;
	height:116px;
	display:block;
	margin-left:195px;
}
.social-last ul li a{
	color:#fff;
	margin-right:10px;
}
.social-last ul{
	margin-left:-37px;
}
.logo-last img{
	
	
}
.last-footer{
	margin-bottom:30px;
	margin-top:30px;
	
}
.last-footer .email a{
	text-decoration:none;
	color:#fff;
}
.email:hover,.email a:hover{
	color:#FF803A;
}
footer{
	text-align:center;
	font-size:14px;
	background-color:#353535;
	padding:10px 0 40px 0;
	color:#F4F4F4;
}

.login{

	margin:60px 0;
	border: 2px solid #BFBFBF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}
.login h2{
	text-align:center;
	color:#029241;
	margin:40px 0 50px 0;
}
.login span{
    margin-left: 10px;
    padding: 0px 10px;
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: -10px;
	color:#ABABAB;
}
.login input{
	 margin-left: 20px;
    padding: 5px;
    display: block;
    width: 90%;
}

.login button{
	border:none;
	background-color:#fdb515;
	color:#fff;
	padding:10px 20px;
	margin:20px;
}
.login button:hover{
	background-color:#029241;
}
.login .forget-pass{

	
	color:#029241;
	padding:10px 20px;
	margin:20px;
	text-decoration:none;
}
.login .forget-pass:hover{
		color:#fdb515;
}
.brd-1{
	background-color:#353535;
	color:#fff;
	
}
.brd-1 h2{
	padding:0px 60px 12px 60px ;
}
login {
	background: #eceeee;
	border: 1px solid #000;
	color:#000;
	margin-top:60px;
	
  
}
.login h3{
	text-align:center;
}
.login form span{font-size:15px;color:#000;padding-left:20px;}
.login form input{width:90%;margin:5px 5px 5px 20px;padding:5px 20px;color:#000;font-size:17px}
.login form button{padding:10px 20px;margin-left:20px;color:#fff;background-color:#325d88;border:none;margin-bottom:30px;}
.login form a{text-decoration:none;}

.registered table{width:100%;margin-bottom:100px;border-style:outset; border-collapse: collapse;}
.registered table th{padding:10px;text-align:center;font-weight:normal;font-size:18px;background: linear-gradient(#EAEDED,#A9CCE3);
}
.registered table tr:nth-child(2n){background-color: #f2f2f2;}

.registered table tr:hover {background-color: #ddd;}
.registered table tr td{padding:5px;text-align:center;font-size:15px;}
.registered  h3{text-align:center;padding:10px;margin-bottom:20px;}
.registered  h4{text-align:center;margin-top:10px;color:#1A5276}
.registered .confirm{margin-left:473px;margin-bottom:20px;border:none;padding:5px 8px;}
.add_courses{margin:20px}
.registered a{text-decoration:none}
.modal-title{text-align:center;color:red;font-weight:bold;}
.modal-body table{width:100%;margin-bottom:50px;}
.modal-body table th{    padding: 6px;
    text-align: center;
    font-weight: normal;
    font-size: 13px;
    background: linear-gradient(#EAEDED,#A9CCE3);
}
.modal-body table tr td{    padding: 2px;
    text-align: center;
    font-size: 12px;}
.modal-body  h3{text-align:center;padding:10px;margin-bottom:20px;}
.modal-body  h4{text-align:center;margin-top:10px;color:#1A5276}
.modal-body .confirm{margin-left:473px;margin-bottom:20px;border:none;padding:5px 8px;}
.add_courses{margin:20px}
.modal-body a{text-decoration:none}
.modal-body a i{color:red;}
.modal-body p{font-weight: bold;
    color: red;
    margin-right: 21px;
    font-size: 12px;
    padding: 22px 0px;}
.modal-body .purchase{    margin-right: 10px;
    font-size: 12px;}


.productImage{
	border:1px solid #000;
	margin:40px;
	
	
}
.productImage img{
	width:100%;
	height:100%;
	
}
.addcart{
	
	background-color:#fff;
	border:2px solid #039445;
	padding:8px 10px;
	border-radius:25px;
	transition:0.5s all;
	color:#029241;
	font-size:12px;
	text-align:center;
	margin-left:-9px;
	display:block;
	margin-bottom:10px;
	
}
.addcart:hover{
	color:#fff;
	background-color:#039445;
	
}
.msg{
	margin-top:-30px;
	margin-bottom:40px;
}
.msg2{
	
	margin-top:28px;
}
.productdetails h3{
	color:red;
	padding:5px;
	margin-top:40px;
}
.productdetails h4{
	color:red;
	padding:5px;
}
.productdetails h5{
	margin-left:5px;
	padding:5px;
}
.productdetails p{
	color:#ABABAB;
	line-height:2.5;
	margin-left:-6px;

}
.magnifier-preview{
	height:380px;
	width:300px;
	margin-top:40px;
}








 

/*/////////////////////////////// VIDEO SLIDER/////////////////////////////////*/


.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate(0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
#lab_video_text_overlay {
    position: absolute;
    color: #FFF;
    width: 100%;
    top: 30%;
}
#lab_video_text_overlay .container {
    text-align: center;
    margin: 0px auto;
}
#lab_video_text_overlay .container {
    text-align: center;
    margin: 0px auto;
    background-color: transparent; 
}

#lab_video_text_overlay h2 {
  font-size:30px;
}

#lab_video_text_overlay .btn {
  border-radius:0;
  text-transform:uppercase;
  font-weight:200;
}
#lab_video_text_overlay .btn-warning {
  background-color:#F5D328;
}

#lab_video_text_overlay .container {
    text-align: center;
    margin: 0px auto;
}
#lab_video_text_overlay h4{
    font-size: 2em;
}
#lab_video_text_overlay .btn {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 200;
}
#lab_video_text_overlay .btn-warning {
    background-color: #F5D328;
}
#lab_video_text_overlay {
    position: absolute;
    color: #FFF;
    width: 100%;
    top: 25%;
    z-index:99;
}






@media screen and (max-width:991px) {
  #lab_video_text_wrap {
    height: 300px;
  }
}

@media screen and (max-width:650px) {
  #lab_video_text_wrap {
    height: 250px;
  }
  #lab_video_text_overlay h4 {
    font-size: 2em;
  }
  #lab_video_text_overlay p {
    font-size: .9em;
  }
}

.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.search input {
  width: 250px;
  height: 32px;

  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search input { text-indent: 32px;}
.search .fa-search { 
  position: absolute;
  top: 10px;
  left: 414px;
}
.searchProductbtn{
	padding:5px 15px;
	border:none;
	border-radius:6px;
}
.special-offer {
	margin-top:50px;
}
.contactForm{
	margin-top:30px;
}
.contactForm input{
	padding: 5px 10px;
    border: 1px solid;
    height: 40px;
	width:100%;
    line-height: 28px;
    font-size: 110%;
	border-color: #e1e1e1;
}
.contactForm textarea{
	 border-color: #e1e1e1;
}
.contactForm label{
	
    position: relative;
    z-index: 0;
    padding: 6px 0 5px;
    margin-bottom: 0;
	margin-top:10px;
	font-size:15px;
   
}
.contactForm button{
	padding:5px 15px;
	margin:20px 0px;
}
.contactDetails{
	margin-top:50px;
}
.contactDetails p{
	padding:5px;
}
.contactDetails h3{
	color:#616A6B;
	padding-left:5px;
}
.contactDetails p i{
	color:red;
}

.questionAns{
	margin:30px 0px;
}
.qanda h2{
	color:#616A6B;
}
.questionAns h4{
	color:#2980B9;
}
.adminMain h2{
	color:#498DFE;
	margin:20px 0px;
}
.addproductoption{
	margin:10px 0px;
	border:1px solid #1A5276;
	padding:20px 10px;
	background:linear-gradient(#ECEFF1,#F3E5F5);
}
.addproductoption h5{
	color:#6C3483;
	padding:5px 0px;
	font-size:15px;
	font-weight:700;
}
.addproductoption ul li{
	list-style:none;
}
.addproductoption h4{
	color:#2980B9;
}
.addproductoption input{
	padding:10px 100px 10px 0px;
	
}
.img_submit{
	padding:6px 20px;
	margin:20px 0px;
}
.adminoption ul li a{
	display:block;
	text-decoration:none;
	padding:3px 11px;
	color:#8E44AD;
	font-size:17px;
}
